IF NOT EXISTS (
  SELECT name
  FROM sys.symmetric_keys
  WHERE name LIKE '%databaseMasterkey%'
)
BEGIN
  PRINT 'Master key does not exist, creating';
  CREATE MASTER KEY ENCRYPTION BY PASSWORD =
    '{{ mssql_ha_master_key_password }}';  {# codespell:ignore master #}
  PRINT 'Master key created successfully';
END
ELSE
BEGIN
  PRINT 'Master key already exists, verifying the provided password against \
the existing master key';  {# codespell:ignore master #}
  BEGIN TRY
    OPEN MASTER KEY DECRYPTION BY PASSWORD =
      '{{ mssql_ha_master_key_password }}';  {# codespell:ignore master #}
    PRINT 'The provided master key password is correct';  {# codespell:ignore master #}
  END TRY
  BEGIN CATCH
{% if not mssql_ha_reset_cert %}
    PRINT 'You provided an incorrect master key password with the \  {# codespell:ignore master #}
mssql_ha_master_key_password variable';  {# codespell:ignore master #}
    THROW;
{% elif mssql_ha_reset_cert %}
    PRINT 'Master key password provided with the \
mssql_ha_master_key_password variable does not match the existing password, \  {# codespell:ignore master #}
dropping master key to re-create it';  {# codespell:ignore master #}
    DROP MASTER KEY;
    PRINT 'Master key dropped successfully';
    CREATE MASTER KEY ENCRYPTION BY PASSWORD =
      '{{ mssql_ha_master_key_password }}';  {# codespell:ignore master #}
    PRINT 'Master key created successfully';
{% endif %}
  END CATCH
END
