name: Commitlint
on:  # yamllint disable-line rule:truthy
  pull_request:
  merge_group:
    branches:
      - main
    types:
      - checks_requested
jobs:
  commit-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install conventional-commit linter
        run: npm install @commitlint/config-conventional @commitlint/cli

      # Default config does not allow sentence case
      # https://github.com/conventional-changelog/commitlint/blob/master/@commitlint/config-conventional/index.js
      - name: Add conventional commits config and enable sentence case
        run: |
          echo "module.exports = {
            extends: ['@commitlint/config-conventional'],
            rules: {
              'subject-case': [
                2,
                'never',
                ['start-case', 'pascal-case', 'upper-case'],
              ],
            }
          }" > commitlint.config.js

      - name: Set commit range variables
        # Finding the commit range is not as trivial as it may seem.
        #
        # At this stage, git's HEAD does not refer to the latest commit in the
        # PR, but rather to the merge commit inserted by the PR. So instead we
        # have to get 'HEAD' from the PR event.
        #
        # One cannot use the number of commits
        # (github.event.pull_request.commits) to find the start commit
        # i.e. HEAD~N does not work, this breaks if there are merge commits.
        run: |
          echo "PR_HEAD=${{ github.event.pull_request.head.sha }}" >> $GITHUB_ENV
          echo "PR_BASE=${{ github.event.pull_request.base.sha }}" >> $GITHUB_ENV

      - name: Run commitlint on commits
        run: npx commitlint --from $PR_BASE --to $PR_HEAD --verbose

      - name: Run commitlint on PR title
        run: |
          echo ${{ github.event.pull_request.title }} | npx commitlint --verbose

      - name: Fail if more than one commits exist in the PR
        if: ${{ github.event.pull_request.commits != 1 }}
        run: |
          cat << EOF
          You must squash commits into one.
          Run 'git rebase -i origin/main' and replace 'pick' with 's' for all
          commits except the first.
          EOF
          exit 1
